@import "tailwindcss";

@layer components {
  .accordion {
    @apply w-[700px] mx-auto my-[100px] flex flex-col gap-6;
  }

  .item {
    @apply p-5 pr-12 cursor-pointer grid grid-cols-[auto_1fr_auto] gap-x-6 gap-y-8 items-center border-t-4 border-t-white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }

  .item.open {
    @apply border-t-4 border-t-green-700;
  }

  .number {
    @apply text-2xl font-medium text-gray-400;
  }

  .number.open {
    @apply text-green-700;
  }

  .title {
    @apply text-2xl font-medium;
  }

  .title.open {
    @apply text-green-700;
  }

  .icon {
    @apply text-2xl font-medium;
  }

  .content-box {
    @apply col-span-2 pb-4 ml-12 list-disc marker:text-green-700;
    line-height: 1.6;
  }
}
